*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    margin-bottom: 2000px;
    background-color: lightblue;
}

header{
    height: 350px;
    background-image: url(background.jpg);
    background-position: center;
    background-size: cover;
}

header h1{
    font-size: 70px;
    padding: 20px;
    color: white;
    text-shadow: 0px 0px 15px blue;
}

.menu{
    height: 50px;
    width: 100%;
    background-color: darkslategrey;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top:0px;
}

.menu a{
    text-decoration: none;
    color:yellow;
    font-size: 20px;
    flex: auto;
    padding: 10px;
}

.menu a:hover{
    background-color: lightsalmon;
    font-size: 25px;
    color:green;
    font-weight: bold;
}

.container{
    height: 300px;
    width:100%;
    background-image: url(d2.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 10px;
}

.container